<div class="row">
    <div class="col-md-6" style="background-color:aliceblue">
        {{input-pane onSubmit=(action "setJson")}}
    </div>
    <div class="col-md-6" style="background-color:aqua">
        {{output-pane passedArg=jsonVar}}
        
    </div>
    

</div>